.storybook-input {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 1em;
  border-radius: 0.5em;
  border: 1px solid #e6e6e6;
  outline: none;
}

.storybook-input--normal:focus {
  border: 1px solid #21aeff;
}

.storybook-input--normal:focus::placeholder {
  color: #999;
}

.storybook-input--normal::placeholder {
    color: #b6b6b6;
}

.storybook-input--error {
  color: #ff6c62;
  border: 1px solid #ff8b82;
}

.storybook-input--error::placeholder {
  color: #ff9c95b1;
}
